body{width:90%; margin-left: auto; margin-right: auto; margin-top: 0px; height:20px; color:rgb(150,150,150)}
			div{border: 0px solid black}
			
			.header{font-size: 48; font-family: 'Vibur', cursive;}
			.main{float: left; font-family: 'Open Sans', sans-serif; background-color:rgb(230, 240, 220)}
			.sub1{margin: 0px 10px 10px 10px; float: left}
			.sub2{margin: 5; padding: 5; float: left}
			.sub3{float: left}
			.caption{font-size: 10}
			.logos{height:100px; margin: 0 10 0 10;}
			
			/* Comentario */		
			#sub1_1{float: left; width: 200px;}
			#sub1_2{float: left; width: 600px;}
			#sub1_3{float: left; width: 200px}
			
			#sub2_1{}
			#sub2_2{}
			#sub2_3{clear: both}
			#sub2_4{}
			#sub2_5{float: left}
			#sub2_6{clear: both}
			#sub2_7{float: right}
			#sub2_8{float: right}
			#sub2_9{clear: both}